html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Open Sans', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 0.1em;
    font-size: 16px; /* cada REM equivale a 16 PIXELS */
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    line-height: 1.5;
    word-spacing: 0.05em;
}
  
  /* Estilos para dispositivos de tela pequena (smartphone) */
  @media (max-width: 992px) {
    body {
      font-size: 8px;
    }
  }

  /* Estilos para dispositivos de tela pequena (smartphone) */
  @media (max-width: 768px) {
    body {
      font-size: 6px;
    }
  }

    /* Estilos para dispositivos de tela pequena (smartphone) */
    @media (max-width: 480px) {
    body {
        font-size: 4px;
        }
    }

hr {
    border:none;
    background: rgba(0, 0, 0, .1);
    width: 100%;
}

button a {
    color: white;
}

.darkmode-toggle {
    z-index: 1;
}

.bottom-space {
    padding-bottom: 2rem;
}

.thin-line {
    height: 0.016rem;
    margin-top: 0;
    margin-bottom: 1rem;
}

.bold-line {
    height: 1rem;
    margin-top: 6rem;
    margin-bottom: 8rem;
    width: 45%;
}

.second-gray-background {
    background: #D4D4D4;
}

.third-gray-background {
    background: #E6E6E6 !important;
}
.blue-background {
    background: #006992;
}

.blue-background-opacity {
    background: rgba(0, 105, 146, .5);
}

.container {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.navbar-login a {
    color: #fff;
}

.navbar {
    position: fixed;
    min-width: 100%;
    background: #00131B;
    /* background: linear-gradient(90deg, #00131B, #006992); */
    z-index: 1;
}

.navbar-connections {
    position: fixed;
    right: 0;
    height: 60% !important;
    top: 1.5rem;
}

.navbar-profile {
    height: 100%;
    min-width: auto;
}

.navbar-profile ~ .navbar-connections {
    max-width: 18rem;
}

.navbar .logo-image {
    position: absolute;
    left: 0;
    top: -0.25rem;
}

.navbar .logo-image img {
    max-width: 6.75rem;
    padding: 0.5rem 1.5rem;
}

.navbar-ads img {
    max-width: 22rem;
}

.intro-content {
    position: relative;
    text-align: left;
    max-width: 40rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    margin: 1.5rem auto;
    font-size: 2.625rem;
    color: #fff;
}

.font-small-size {
    font-size: .75rem;
}

.font-medium-size {
    font-size: 1rem;
}

.services-content {
    margin: 0;
    color: #000;
    max-width: 100%;
    display: flex;
}

.services-container {
    margin: 5rem;
    max-width: 80rem;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.services-text {
    max-width: 40rem;
    overflow-x: auto;
    padding: 2rem;
}

.image-filter {
    background: linear-gradient(0deg, #00131B 76.11%, rgba(0, 19, 27, 0.60) 129.69%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    position: absolute;
}

.intro-background img {
    max-width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
}

.support-input {
    background: none;
    font-size: 1rem;
    padding: 1rem;
    outline: none;
    font-weight: 300;
    border-top: none;
    border-right: none;
    border-left: none;
}

.gray-filter {
    filter: brightness(0.5) blur(6px);
}

.navbar-links {
    display: flex;
    max-width: 82rem;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

.navbar-links ul {
    display: flex;
}

.navbar-links ul li {
    padding: .5rem 1rem;
    list-style: none;
}

.navbar-links ul li a {
    color: #D4D4D4;
    padding: 0.75rem 2.75rem;
    font-size: 1rem;
    text-decoration: none;
    font-weight: 400;
    border-bottom: 4px transparent solid;
    transition: all .015s ease-in-out;
}

.navbar-links ul li a:hover {
    border-bottom: 4px #D4D4D4 solid;
}

.navbar-profile-links ul {
    display: block;
    margin-top: 5rem;
    margin-bottom: 0;
    padding-left: 0;
    padding-bottom: 2rem;
}

.navbar-connections .navbar-profile-links ul {
    margin-top: 0;
    padding-top: 0;
    margin-bottom: 0;
}

.navbar-connections .navbar-profile-links ul li a {
    background: #fff;
    color: #000;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-around;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-right: 1rem;
}

.navbar-connections .navbar-profile-links ul li a img {
    max-width: 4rem;
    border-radius: 2rem;
    aspect-ratio: 1;
}

.connections-header {
    font-size: 1.5rem;    
}

.connections-header h1 {
    padding: 0;
    margin: 1rem;
}

.navbar-profile-links ul li {
    margin: 1.5rem;
}

.navbar-profile-links-logout {
    margin-top: auto;
    position: absolute;
    bottom: 0;
    background: #D4D4D4;
    width: 100%;
}

.navbar-profile-links ul li a {
    background: #00131B;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
}

.navbar-profile-links-logout li a{
    background: #fff !important;
    color: #000 !important;
}

.button-active {
    background: #006992 !important;
}

.navbar-login {
    position: relative;
    left: 8rem;
}

.app-ratings-container {
    background: #E6E6E6;
    padding: 1rem 0;
    padding-bottom: 0;

}

.app-rating-box {
    max-width: 84rem;
    margin-left: auto;
    margin-right: auto;
}

.app-rating {
    background: white;
    max-width: 20rem;
    padding: 1rem;
    margin: 2.25rem;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.app-rating-picture img{
    border-radius: 4rem;
    max-width: 100%;
    height: 8rem;
}

.app-rating-stars {
    min-width: 20rem;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 0.5rem;
}

.app-rating-services {
    font-size: 1rem;
    display: flex;
}

.app-rating-overview {
    text-align: justify;
}

.star {
    color: #DAA520;
    font-size: 2rem;
    margin: 0.25rem;
}

.footer {
    padding: 0 2rem;
    background: #D4D4D4;
}

.footer-container {
    max-width: 82rem;
    margin-left: auto;
    margin-right: auto;
}

.footer .social-icons img {
    max-width: 100%;
    height: 3rem;
    margin: 0.2rem;
}

.footer .social-icons a {
    text-decoration: none;  
}

.footer .social-icons a:hover {
    opacity: 0.5;
}

.footer-second-part {
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: -5.875rem;
    text-align: center;
}

.footer-brand-logo{
    max-width: 9.5rem;
    margin-left: auto;
    margin-right: auto;
}

.up-arrow {
    max-width: 8.5rem;
    float: right;
    margin-top: -3.5rem;
    padding: 1rem;
    margin-right: 2rem;
}

.up-arrow a {
    padding: 0 1rem;
    font-weight: 600;
    font-size: 2rem;
    color: #00131B;
}

button > a {
    text-decoration: none;
    display: flex;
    justify-content: center;
}

.button {
    padding: 0.75rem 4rem;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 3.125rem;
    font-weight: 600;
    transition: all 0.15s ease-in-out;
}

.button:hover {
    opacity: 0.75;
}

.button-secondary {
    background: #006992;
    font-size: 1.25rem;
}

.button-primary {
    background: #00131B;
    font-size: 2rem;
}

.button-register {
    background: #00131B;
    margin-left: 7rem;
}

.text-shadow {
    text-shadow: -2px 8px 32px #000;
}

.shadow {
    /* box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px; */
    box-shadow: rgba(13, 38, 76, 0.19) 0px 9px 20px;
}

.thin {
    font-weight: 300;
}

.light {
    font-weight: 400;
}

.white-background {
    background: #fff;
}

.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-black {
    color: #000;
}

.text-yellow {
    color: #DAA520;
}

.height-full {
    height: 100%;
}

.width-full {
    width: 100%;
}

.painel-container {
    max-width: 45rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem 1rem;
    border-radius: 1rem;
    margin-top: 6rem;
    margin-bottom: 2rem;
}
.painel-container-login {
    max-width: 32rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding: 3rem 1rem;
    border-radius: 1rem;
    margin-top: 6rem;
    margin-bottom: 2rem;
}


.painel-area input {
    background: #f0f0f0;
    margin-left: auto;
    margin-right: auto;
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    padding: 1rem 3rem;
    margin-bottom: 2rem;
    font-size: 1rem;
    border-radius: .5rem;
}

.painel-area input:focus {
    color: #006992;
}
.painel-area textarea {
    background: #f0f0f0;
    margin-left: auto;
    margin-right: auto;
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    padding: 1rem 3rem;
    margin-bottom: 2rem;
    font-size: 1rem;
    border-radius: .5rem;
}

.painel-area textarea:focus {
    color: #006992;
}

.painel-area-login input {
    background: #f0f0f0;
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    padding: 1rem 3rem;
    margin-bottom: 2rem;
    font-size: 1rem;
    border-radius: .5rem;
}

.painel-area-login input:focus {
    color: #006992;
}

.profile-image img {
    max-width: 12rem;
    border-radius: 12rem;
}

.lastjob-image img {
    max-width: 6rem;
    max-height: 6rem;
    border-radius: 20rem;
    aspect-ratio: .75;
}

.profile-section {
    position: relative;    
}

.lastjob-about {
    margin-top: 0 !important;
    margin-left: 0 !important;
}

.lastjob-about a {
    text-decoration: none;
}

.lastjob-align {
    display: flex;
    flex-direction: column;
    margin-left: 6rem;
    margin-top: -7rem;
    margin-bottom: .25rem;
}

.profile-container {
    background: #006992;
}

.profile-about {

    max-width: 26rem;
    margin-left: 8rem;
}

.profile-about {
    display: flex;
    margin-left: auto;
    flex-direction: column;
    margin-top: -12.35rem;
}

.rounded-circle {
    background: transparent;
    width: 8rem;
    height: 8rem;
    margin-top: -3rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.rounded-circle img {
    width: 128px;
    position: relative;
    right: 2px;
    top: 24px;
}

.button-register {
    width: 18rem;
    font-size: 1.5rem;
}
.button-return{
    margin-top: 2rem;
    padding: 0.75rem;
    font-size: 14px;
}
.button-next {
    width: 18rem;
    font-size: 1.5rem;
}
.invisible {
    display: none;
}

.form-part {
    display: none;
}

.visible {
    display: block;
}
.medium-text{
    font-size: 30px;
    font-weight: bold;
}
.faq-item {
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    position: relative;            
}

.question {
    font-weight: bold;
    cursor: pointer;
    padding-right: 30px;
    font-size: 20px;
}

.arrow-icon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 1.2em;
}

.answer {
    display: none;
    margin-top: 10px;
    font-size: 15px;    
}

.answer.show {
    display: block;
}
.rotate{        
    transform: rotate(180deg);
}
.faq-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
}
.button-pefil important{
    padding: 0;
}
.box1{
    position: relative;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px; /* Espaço entre as colunas */
}

.grid-item {
    margin-bottom: 10px;
}
.grid-item2{
    margin-bottom: 10px;
    margin-left: 2rem;
}
.file-label {
    background-color: #006992;
    color: #fff;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
}
#blur-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(4px); /* Ajuste o valor conforme necessário para controlar o desfoque */
    z-index: 1;
    display: none;
}

#saida {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 5rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    z-index: 2;
}

#saida a {
    display: inline-block;
    margin: 10px;
    padding: 1rem 2rem;
    background: #00131B; /* Cor de fundo azul, você pode ajustar conforme necessário */
    color: #fff; /* Cor do texto branco, você pode ajustar conforme necessário */
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
}

#saida h1{
    font-size: 30px;
}
#saida a:hover{
    background: #012331d8;
}
.dropdown-content {
    border: 2px solid #ccc;
    border-radius: 10px;
    position: absolute;
    background-color: #f9f9f9;
    width: 250px; /* Aumente o tamanho da caixa */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}

/* Estilo para o link de logout */
#logoutLink {
    display: block;
    text-decoration: none;
    background: #00131B;
    padding: 8px 16px;
    width: 50px;
    margin: 50px 5px 5px 5px;
    border-radius: 5px;
}
#logoutlink :hover{
    background: #012331d8;
}
/* Estilos para o campo de escolha de imagem */
.grid-item label {
    font-size: 14px; /* Reduz o tamanho do texto ao lado do campo de imagem */
    margin-bottom: 5px; /* Adiciona um pequeno espaçamento abaixo do texto */
    display: block;
}

.grid-item input[type="file"] {
    /* Estilos para o botão de escolher a imagem */
    padding: 8px 12px; /* Adiciona espaçamento interno ao botão */
    border: 1px solid #ccc; /* Adiciona uma borda ao redor do botão */
    border-radius: 4px; /* Adiciona bordas arredondadas ao botão */
    background-color: #f5f5f5; /* Define uma cor de fundo para o botão */
    color: #333; /* Define a cor do texto do botão */
    cursor: pointer; /* Altera o cursor para indicar que é clicável */
    width: 16.5rem;
}

.grid-item input[type="file"]:hover {
    background-color: #e0e0e0; /* Altera a cor de fundo ao passar o mouse sobre o botão */
}
.jobs-container{
    margin: 1.5rem auto;
    padding: 0.5rem;
    max-width: 70rem;
    min-height: 30rem;
    border-radius: 2rem;
}
.h1-services{
    margin-left: 6rem;
    font-size: 25px;
}
.line-jobs{
    margin-left: 4rem;
    height: 0.25rem;
    margin-top: -1rem;
    width: 25rem;
    background-color: #000;
}
.grid-job{
    padding: 1rem;
    width: 60rem;
    height: 7rem;
    margin-left: auto;
    margin-right: auto;
    grid-row: auto;
    display: flex;
    margin-bottom: 2rem;
    margin-top: 1.5rem;
}
.circle-job img{
    width: 7rem;
    height: 7rem;
    border-radius: 25%;
    border: 0.5px solid rgba(0, 0, 0, .1);
}
.description-job{
    padding: 0;
    margin-left: 1rem;
}
.title-job{
    display: flex;
    color: #006992;
    font-size: 1.25rem;
}
.title-job a{
    text-decoration: none;
    color: #006992;
}
.contractor{
    margin-top: -1.5rem;
}
.place{
    margin-top: -1.25rem;
    color: #676767;
}
.text-pointer:hover{
    cursor: pointer;    
}
.container2 {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
}
.container3 {
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    min-height: 58.20rem;
}
.intro-source{
    margin: 1.5rem auto;
    padding: 0.5rem;
    width: 70rem;
    height: 3rem;
    border-radius: 2rem;
}
.source{
    margin-top: -1.5rem;
    margin-left: 0.5rem;
    font-size: 20px;
}
.grid-trabalho{
    padding: 1rem;
    max-width: 40rem;
    height: 7rem;
    margin-left: auto;
    margin-right: auto;
    grid-row: auto;
    display: flex;
    margin-bottom: 3rem;
}
.description-trabalho{
    margin-top: -2.2rem;
    padding: 0;
    margin-left: 1rem;
}
.title-trabalho{
    font-size: 2rem;
    display: flex;
}
.description-service{
    padding: 1rem;
    max-width: 40rem;
    height: 7rem;
    margin-left: auto;
    margin-right: auto;
}
.description-service h2{
    margin-top: -1.25rem;
}
.enunciado-service{
    margin-top: -1rem;
}
.enunciado-service p{
    text-align: left;
}
.dados-service h1{
    font-size: 1.75rem;
}
.title-post{
    text-align: center;
    font-size: 1.5rem;
}
.post-service-form{
    margin-left: 25rem;
}